<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Desarrollado por Santiago Pineda</a>
  </div>
</nav>
<div class="row" style="margin-left: 1rem; margin-top: 2rem;">
  <!-- Descarga normal, documento básico -->
  <div class="card col-3" style="width: 18rem; margin-left: 1rem; height: 377px; margin-top: 1rem;">
    <img src="../assets/images/excelJs.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Documento normal</h5>
      <p class="card-text">En este documento se pueden encontrar columnas con datos</p>
      <a (click)="excelNormal()" class="btn btn-primary">Descargar</a>
    </div>
  </div>
  <!-- Documento con columnas dinámicas que son nombradas por el usuario -->
  <div class="card col-3 overflow-auto" style="width: 18rem; margin-left: 1rem; height: 377px; margin-top: 1rem;">
    <img src="../assets/images/excelJs.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Documento con columnas dinámicas</h5>
      <p class="card-text">En este documento se pueden controlar los nombres de las columnas mediante inputs. También se evidencia que es posible ajustar el tamaño de las columnas según el tamaño de los caracteres ingresados.</p>
      <form [formGroup]="columnsForm" (ngSubmit)="dynamicColumns()">

        <div class="mb-3">
          <label for="first-name" class="form-label">Columna 1</label>
          <input type="text" class="form-control" id="first-name" placeholder="Columna 1" formControlName="firstColumn">
        </div>
      
        <div class="mb-3">
          <div class="mb-3">
            <label for="last-name" class="form-label">Columna 2</label>
            <input type="text" class="form-control" id="last-name" placeholder="Columna 2" formControlName="lastColumn">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Descargar</button>
      </form>
    </div>
  </div>
  <!-- Documento con validaciones en ciertas columnas -->
  <div class="card col-3 overflow-auto" style="width: 18rem; margin-left: 1rem; height: 377px; margin-top: 1rem;">
    <img src="../assets/images/excelJs.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Documento con validaciones en ciertas columnas</h5>
      <p class="card-text">En este documento se pueden insertar datos para realizar comparaciones y operaciones</p>
      <form [formGroup]="dataForm" (ngSubmit)="dataValidations()">

        <div class="mb-3">
          <label for="first-name" class="form-label">Dato 1</label>
          <input type="text" class="form-control" id="first-name" placeholder="Ingrese dato 1" formControlName="firstData">
        </div>
      
        <div class="mb-3">
          <div class="mb-3">
            <label for="last-name" class="form-label">Dato 2</label>
            <input type="text" class="form-control" id="last-name" placeholder="Ingrese dato 2" formControlName="lastData">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Descargar</button>
      </form>
    </div>
  </div>
</div>